
        <!--<div ng-repeat="project in projects">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{project.projectName}}</h4>
                    <p class="card-text">{{project.projectDesc}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>-->

            <!--<div class="row">
                <div class="col"  ng-repeat="project in projects track by $index">
                    <div class="card custom-card">
                        <div class="card-block">
                            <h4 class="card-title">{{project.projectName}}</h4>
                            <p class="card-text">{{project.projectDesc}}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="w-100" ng-if="$index % 2 == 0"></div>
                </div>
            </div>
        </div>-->

        <!-- Adapted page layout from :https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/index.html -->
    <div class="jumbotron bodyJumbotron">
        <div class="container">
            
        <!--<div class="row">
            <div class="col" style="border: 5px solid; background-color: #f1f1f1; color:#1f1f1f; ">
                <br/>
                <div class="form-group">
                    <label for="formGroupExampleInput">Search</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Search">
                </div>
                <div class="row">
                    <div class="col" ng-repeat="project in projects">
                        <div class="card custom-card">
                            <div class="card-header custom-card-header">
                                {{project.projectName}}
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">{{project.projectName}}</h4>
                                <p class="card-text">{{project.projectDesc}}</p>
                                <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        </div>
    </div>


