<body class="homeBody">
<div class="jumbotron headerJumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to <span class="welcome">Groupd</span></h1>
    <h3>The social network to find team mates for start up projects!</h3>
    <p><br/>Join Groupd to quickly list your project's vacant roles or browse existing projects and apply to become a team member!</p>
    <p><a class="btn body-button btn-lg" href="#/signup">Join Now &raquo;</a></p>
  </div>
  <div class="headerJumbotronHR"></div>
</div>
</body>