<div class="jumbotron headerJumbotron">
  <div class="container">
    <h1 class="display-3">Sign up</h1>
    <hr/>
    <!-- Disabled my button until users fill in the details 
         Adapted from: http://stackoverflow.com/questions/15300067/disable-submit-button-when-form-invalid-with-angularjs -->
    <form name="signup">
        <h4 class="message">{{message}}</h4>
        <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Email<span class="required">*</span></label>
        <div class="col-10">
            <input class="form-control" ng-model="user.email" type="text" placeholder="Enter your email" id="example-text-input" required>
        </div>
        </div>
        <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Username<span class="required">*</span></label>
        <div class="col-10">
            <input class="form-control" ng-model="user.username" type="text" placeholder="Enter your username" id="example-text-input" required>
        </div>
        </div>
        <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Password<span class="required">*</span></label>
        <div class="col-10">
            <input class="form-control" ng-model="user.password" type="password" placeholder="Enter your password" id="example-password-input" required>
        </div>
        </div>
        <div class="form-group row">
        <label for="example-email-input" class="col-2 col-form-label">First Name<span class="required">*</span></label>
        <div class="col-10">
            <input class="form-control" ng-model="user.firstName" type="text" placeholder="Enter your first name" id="example-email-input" required>
        </div>
        </div>
        <div class="form-group row">
        <label for="example-url-input" class="col-2 col-form-label">Surname<span class="required">*</span></label>
        <div class="col-10">
            <input class="form-control" ng-model="user.surname" type="text" placeholder="Enter your last name" id="example-url-input" required>
        </div>
        </div>
        <div class="form-group row">
        <label for="example-tel-input" class="col-2 col-form-label">Bio</label>
        <div class="col-10">
            <textarea class="form-control" ng-model="user.bio" type="text" placeholder="Write a little bit about yourself and what you can offer.." id="example-tel-input"/>
        </div>
        </div>
        <p><button class="btn body-button btn-block btn-lg" ng-click="createUser()" ng-disabled="signup.$invalid">Register</button></p>
    </form>
  </div>
  <div class="headerJumbotronHR"></div>
</div>