<div class="jumbotron headerJumbotron">
  <div class="container">
    <h1 class="display-3">Sign up</h1>
    <hr/>
    <h4>{{message}}</h4>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Email*</label>
    <div class="col-10">
        <input class="form-control" ng-model="user.email" type="text" placeholder="Enter your email" id="example-text-input">
    </div>
    </div>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Username*</label>
    <div class="col-10">
        <input class="form-control" ng-model="user.username" type="text" placeholder="Enter your username" id="example-text-input">
    </div>
    </div>
    <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Password*</label>
    <div class="col-10">
        <input class="form-control" ng-model="user.password" type="password" placeholder="Enter your password" id="example-password-input">
    </div>
    </div>
    <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">First Name*</label>
    <div class="col-10">
        <input class="form-control" ng-model="user.firstName" type="text" placeholder="Enter your first name" id="example-email-input">
    </div>
    </div>
    <div class="form-group row">
    <label for="example-url-input" class="col-2 col-form-label">Surname*</label>
    <div class="col-10">
        <input class="form-control" ng-model="user.surname" type="text" placeholder="Enter your last name" id="example-url-input">
    </div>
    </div>
    <div class="form-group row">
    <label for="example-tel-input" class="col-2 col-form-label">Bio</label>
    <div class="col-10">
        <textarea class="form-control" ng-model="user.bio" type="text" placeholder="Write a little bit about yourself and what you can offer.." id="example-tel-input"/>
    </div>
    </div>
    <p><button class="btn body-button btn-block btn-lg" ng-click="createUser()">Register</button></p>
  </div>
  <div class="headerJumbotronHR"></div>
</div>