.headerJumbotron{
  padding-top: 100px;
  height: 100vh;
  background-color: #cccccc;
  margin-bottom: 0px !important;
}

.indexBody{
  background-color: #cccccc !important;
}

.navColor{
  background-color: white !important;
  border-bottom: 5px solid #a6a6a6;
}

.body-button{
    background-color: #1f1f1f;
    color: white  
}
.body-button:hover{
    background-color: #DF0F25;
    color: white  
}

.header-button{
    background-color: #1f1f1f;
    color: white;
}
.header-button:hover{
    background-color: #DF0F25;
    color: white;
}
.welcome{
  font-family: Ubuntu;
}
/* Used Bootstraps Alert CSS and modified it */
.message{
  color: #1f1f1f;
  text-align: center;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #a6a6a6;
}
.required{
  color: #DF0F25;
}