.headerJumbotron{
  padding-top: 50px;
  height: 100%;
  background-color: transparent;
  margin-bottom: 0px !important;
  color: #1f1f1f;
}

.bodyJumbotron{
  padding-top: 50px;
  background-color: white;
  margin-bottom: 5px !important;
  align-content: center;
  color: #1f1f1f;
}

.customContainer{
  border-radius: 25px;
  border: 3px solid #cccccc;
  padding: 20px; 
  width: 100%;
  height: 100%; 
}

.indexBody{
  background-color: #f1f1f1 !important;
  /*background-image: url("../images/orange.png") !important;*/
}

.navColor{
  background-color: #1f1f1f !important;
  border-bottom: 5px solid #e62e43;
  margin-bottom: 10px;
}

.body-button{
    background-color: #1f1f1f;
    color: white;
}
.body-button:hover{
    background-color: #DF0F25;
    color: white;  
}

.header-button{
    background-color: #e62e43;
    color: #f1f1f1;
}
.header-button:hover{
    background-color: #f1f1f1;
    color: #1f1f1f;
}
.welcome{
  font-family: Ubuntu;
}
.card{
  background-color: #f1f1f1 !important;
  border: 2px solid #1f1f1f;
}
.customCardHeader{
  background-image: url('../images/orange.png');
  color: #f1f1f1;
}
/* Used Bootstraps Alert CSS and modified it */
.message{
  color: #1f1f1f;
  text-align: center;
  padding: 0.25rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #e62e43;
}
.required{
  color: #DF0F25;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.custom-card{
  color: #1f1f1f;
  margin-bottom: 3px;
  border: 2px solid #006080;
}
.custom-card-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Profile container */
.profile {
  margin: 10px 0;
  text-align: center;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
    .bootstrap-vertical-nav .collapse {
        display: block;
    }
}