.headerJumbotron{
  padding-top: 50px;
  height: 100%;
  background-color: #cccccc;
  margin-bottom: 0px !important;
}

.bodyJumbotron{
  padding-top: 50px;
  height: 100%;
  background-color: #cccccc;
  margin-bottom: 0px !important;
  align-content: center;
}


.indexBody{
  background-color: #cccccc !important;
}

.navColor{
  background-color: white !important;
  border-bottom: 5px solid #a6a6a6;
}

.body-button{
    background-color: #1f1f1f;
    color: white  
}
.body-button:hover{
    background-color: #DF0F25;
    color: white  
}

.header-button{
    background-color: #1f1f1f;
    color: white;
}
.header-button:hover{
    background-color: #DF0F25;
    color: white;
}
.welcome{
  font-family: Ubuntu;
}
/* Used Bootstraps Alert CSS and modified it */
.message{
  color: #1f1f1f;
  text-align: center;
  padding: 0.25rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #a6a6a6;
}
.required{
  color: #DF0F25;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.cardSized{
  width: 100%;
}